.container {
    width: 1010px;
    margin: 0 auto;
    padding: 0 20px;
}

#header {
    align-items: center;
}

.navbar-top-bg {
    background-color: #f6f7fa;
}

#navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navbar-top-1 ul {
    display: flex;
}

.navbar-top-1 ul li {
    margin-right: 25px;
}

.navbar-top-1 ul a {
    font-size: 15px;
    color: #8d94ad;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    transition: .2s;
}

.navbar-top-1 ul a:hover {
    color: #ca1016;
}

.navbar-top-2 ul {
    display: flex;
    align-items: center;
}

.navbar-top-2 ul li {
    margin-left: 25px;
}

.navbar-top-2 ul span,
.navbar-top-2 ul span a {
    color: #212c3a;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    cursor: default;
    transition: .2s;
}

.navbar-top-2 ul span a:hover {
    color: #ca1016;
}

.navbar-top-2 ul a {
    font-size: 15px;
    color: #8d94ad;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    transition: .2s;
}

.navbar-top-2 ul a:hover {
    color: #ca1016;
}

.navbar-top-2 ul a i {
    margin-right: 7px;
}

.navbar-main-bg {
    background-color: #ca1016;
    z-index: 51;
}

#navbar-main {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-main-content {
    display: flex;
}

.navbar-main-title-1 a {
    margin-right: 40px;
}

.navbar-main-title-1 a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.navbar-main-title-2 {
    float: left;
}

.navbar-main-title-2 ul {
    display: flex;
}

.navbar-main-title-2 ul li {
    margin-right: 30px;
}

.navbar-main-title-2 ul li a {
    font-size: 15px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 30px 0;
    transition: .2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
}

.navbar-main-title-2 ul a:hover {
    color: #F5CECD;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    padding: 5px 0;
    margin-top: 17px;
    border-radius: 5px;
    text-align: center;
    transition: 0.7s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropbtn {
    padding: 15px;
}

.dropdown-content a {
    display: block;
    font-size: 15px;
    color: #212c3a !important;
    padding: 9px 14px;
    line-height: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    text-decoration: none;
    text-align: start;
}

.dropdown-content a:hover {
    background-color: #F2F4F8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-main-title-btn button {
    border: none;
    outline: none;
    background-color: #7ed321;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
}

.navbar-main-title-btn button p {
    margin-left: 7px;
    font-size: 15px;
}

.navbar-main-title-btn button:hover {
    background-color: #85c01f;
}

.section-bg {
    background-color: #ebedf3;
}

#section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

#section-1 input {
    height: 45px;
    width: 220px;
    overflow: hidden;
    border: 1px solid #dfe3e9;
    padding-left: 10px;
    border-radius: 7px;
    background-color: #fff;
    cursor: pointer;
    line-height: 17px;
    z-index: 1;
    outline: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#section-1 input::placeholder {
    color: #8d94ad;
    font-size: 15px;
}

#surulmesi {
    display: flex;
}

#surulmesi button {
    cursor: pointer;
    height: 45px;
    font-size: 15px;
}

#hamisi button {
    width: 67px;
    border-right: 0;
    border-radius: 7px 0 0 7px;
    color: #fff;
    background-color: #ca1016;
    border: 1px solid #ca1016;
}

#yeni button {
    width: 66px;
    border: 1px solid #dfe3e9;
    background-color: #fff;
    color: #8d94ad;
}

#surulmus button {
    border: 1px solid #dfe3e9;
    background-color: #fff;
    color: #8d94ad;
    border-left: 0;
    width: 102px;
    border-radius: 0 7px 7px 0;
}

#section-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#qiymet {
    display: flex;
}

#qiymet input {
    height: 46px;
    width: 117px;
    font-size: 15px;
    padding: 14px 10px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid #dfe3e9;
    outline: none;
    cursor: text;
    background-color: #fff;
}

#minqiymet input {
    border-radius: 7px 0 0 7px;
}

#maxqiymet input {
    border-radius: 0 7px 7px 0;
}

#qiymet input::placeholder {
    color: #8d94ad;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    width: 235px;
    justify-content: space-between;
    align-items: center;
}

#datalist-valyuta select {
    height: 46px;
    border: 1px solid #dfe3e9;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    background-color: #fff;
    cursor: pointer;
    width: 82px;
    color: #212c3a;
    padding: 0 10px;
    outline: none;
}

#kredit button,
#barter button {
    height: 48px;
    line-height: 46px;
    font-size: 15px;
    text-align: center;
    padding: 0 10px;
    border-radius: 7px;
    border: solid 1px #dfe3e9;
    background-color: #fff;
    color: #212c3a;
    letter-spacing: -0.2px;
    cursor: pointer;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    transition: .2s;
}

#kredit button:hover,
#barter button:hover {
    border: 1px solid #8d94ad;
}

#datalist-reng input {
    width: 234px;
    height: 46px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px 10px;
    border-radius: 7px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid #dfe3e9;
    outline: none;
    cursor: pointer;
    background-color: #fff;
}

#il {
    display: flex;
}

#il input {
    height: 46px;
    width: 117px;
    font-size: 15px;
    padding: 14px 10px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid #dfe3e9;
    outline: none;
    cursor: text;
    background-color: #fff;
}

#minil input {
    border-radius: 7px 0 0 7px;
}

#maxil input {
    border-radius: 0 7px 7px 0;
}

#il input::placeholder {
    color: #8d94ad;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#section-3 {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.section-3-title {
    display: flex;
    align-items: center;
}

.section-3-title p {
    color: #212c3a;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-3-title a {
    color: #4c88f9;
}

#section-3-content {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

#section-3-sifirla {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#section-3-button button {
    color: #fff;
    background-color: #ca1016;
    border: 1px solid #ca1016;
    cursor: pointer;
    padding: 15px 40px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
}

#section-3-button button:hover {
    background-color: #b80d13;
}





.footer-bg {
    background-color: #f1f3f7;
    border-top: 1px solid #eaebf2;
    border-bottom: 1px solid #eaebf2;
}

.footer1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer1-left a {
    font-size: 15px;
    color: #212c3a;
    transition: 0.3s;
}

.footer1-left a:hover {
    color: #ca1016;
}

.footer1-right {
    display: flex;
}

.footer1-icons {
    margin-left: 25px;
    color: rgb(141, 148, 173);
    filter: grayscale(1);
    display: flex;
    transition: .3s;
    align-items: center;
}

.footer1-icons i {
    font-size: 20px;
    margin-right: 3px;
}

.footer1-icons:hover {
    color: #ca1016;
    filter: grayscale(0);
}

.footer1-icons a {
    color: #8d94ad;
    /* filter: grayscale(1); */
    margin-left: 5px;
    font-size: 15px;
    transition: .3s;
}

.footer1-icons a p {
    color: #212c3a;
}

.footer1-icons a p:hover {
    color: #ca1016;
}

.footer1-icons a:hover {
    margin-left: 5px;
    color: #ca1016;
    filter: grayscale(0);
}

.footer1-icons-text a {
    color: #212c3a;
}

.footer2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding: 15px 0;
    background-color: #f1f3f7;
    border-top: 1px solid #eaebf2;
    border-bottom: 1px solid #eaebf2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hrefs a {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 40px;
    color: #212c3a;
    transition: 0.3s;
}

.hrefs a:hover {
    color: #ca1016;
}

.footer3-bg {
    background-color: #ca1016;
}

.footer3 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer3-text {
    display: flex;
    align-items: center;
    width: 850px;
    justify-content: space-between;
}

.footer3-text-left p {
    color: white;
    font-size: 13px;
    width: 390px;
    line-height: 20px;
}

.footer3-text-right p {
    color: white;
    font-size: 13px;
}

.footer3 a {
    color: white;
    font-size: 13px;
}

.footer3 a:hover {
    color: white;
    text-decoration: underline;
}
#sekil {
    width: 229px;
    height: 170px;
    cursor: pointer;
    transition: .3s;
}
#sekil:hover {
    box-shadow: 0 17px 34px 0 rgb(44 39 56 / 4%), 0 8px 17px 0 rgb(44 39 56 / 2%);
}
#sekil img {
    width: 229px;
    height: 170px;
    border-radius: 7px 7px 0 0;
}
#yazi {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 0 0 7px 7px;
    cursor: pointer;
    transition: .3s;
}
#yazi:hover {
    box-shadow: 0 17px 34px 0 rgb(44 39 56 / 4%), 0 8px 17px 0 rgb(44 39 56 / 2%);
}
#masin-card-bg {
    background-color: #f6f7fa;
}
#card {
    padding: 29px 0 15px;
}
.qiymet {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #212c3a;
    line-height: 17px;
    margin-bottom: 3px;
}
.marka {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #212c3a;
    line-height: 17px;
    margin-bottom: 1px;
}
.tarix {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #212c3a;
    line-height: 17px;
    margin-bottom: 1px;
}
.seher{
    font-size: 14px;
    line-height: 17px;
    color: #8d94ad;
    font-family: Arial, Helvetica, sans-serif;
}